<ng-container *ngIf="products.length != 0">
 
  <div class="container py-5">
    <div class="card">
      <div class="card-body">
        <div class="row align-items-center mb-3">
          <div class="col">
            <h4 class="card-title title-color">Your Cart</h4>
          </div>
          <div class="col">
            <div class="row mx-auto">
              <div class="col text-end">
                <button class="btn btn-danger w-100 btn-custom" (click)="emptyCart()">
                  Empty Cart
                </button>
              </div>

              <div class="col text-end">
                <button class="btn btn-primary w-100 btn-custom" routerLink="/">
                  Shop More
                </button>
              </div>

              <div class="col text-end">
                <button class="btn btn-warning w-100 btn-custom" routerLink="/address">
                  Checkout {{ grandTotal | currency: "INR" }}
                </button>
              </div>
            </div>
          </div>
  
        </div>
        <div
          class="card text-center mb-3"
          *ngFor="let item of products; let i = index"
        >
          <div class="card-body">
            <div class="row mx-auto align-items-center">
              <!-- <div class="col-1">
                <span>{{ i + 1 }}.</span>
              </div> -->
              <div class="col-1">
                <img
                  src="{{ item.imgUrl }}"
                  class="img-fluid"
                  alt="{{ item.productName }}"
                />
              </div>
              <div class="col">
                <h6 class="card-title">{{ item.productName }}</h6>
              </div>
              <div class="col">
                <span class="card-subtitle">{{ item.description }}</span>
              </div>
              <div class="col">
                <span>{{ item.price | currency: "INR" }}</span>
              </div>
              <div class="col">
                <button
                  class="btn btn-sm btn-danger btn-custom"
                  (click)="removeItem(item)"
                >
                  Remove item
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-container>

<ng-container *ngIf="products.length == 0">
  <div class="container py-5">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Your Cart</h4>
        <div class="text-center">
          <img
            src="/assets/Images/emptyCart.png"
            class="img-fluid w-25"
            alt="Empty Cart"
          />
          <h4>Your cart is empty!</h4>
          <h6>Add item to it now</h6>
          <button class="btn btn-primary" routerLink="/">Shop Now</button>
        </div>
      </div>
    </div>
  </div>
</ng-container>
